<div class="top_nav navbar-fixed-top" style="margin-left: 0px;">
  <div class="nav_menu">
    <nav>      
    	<%= link_to root_path, :style=>"background-color:#ededed;", data: { turbolinks: false } do %>
      <img src="/images/GR-logo-new.png" width="50px" style="padding-top:5px;margin-left:5px;">
      <%end%>
      

    
       
    </nav>
  </div>
 
</div>                        


                        
  